In [25]:
import pandas as pd
import numpy as np

df = pd.DataFrame([
['green', 'M', 10.1, 'class1'],
['red', 'L', 13.5, 'class2'],
['blue', 'XL', 15.3, 'class1']])

df.columns = ['color','size','price','classlabel']
df

   color size  price classlabel
0  green    M   10.1     class1
1    red    L   13.5     class2
2   blue   XL   15.3     class1

In [26]:
#order fratures mapping
size_mapping = {'M':0,'L':1,'XL':2}
df['size'] = df['size'].map(size_mapping)
df

   color  size  price classlabel
0  green     0   10.1     class1
1    red     1   13.5     class2
2   blue     2   15.3     class1

In [27]:
#類標的編碼
class_mapping = {label:idx for idx,label in enumerate(np.unique(df['classlabel']))}
class_mapping

{'class1': 0, 'class2': 1}

In [28]:
df['classlabel'] = df['classlabel'].map(class_mapping)
df

   color  size  price  classlabel
0  green     0   10.1           0
1    red     1   13.5           1
2   blue     2   15.3           0

In [31]:
inv_class_mapping = {idx:label for label,idx in class_mapping.items()}
df['classlabel'] = df['classlabel'].map(inv_class_mapping)
df

   color  size  price classlabel
0  green     0   10.1     class1
1    red     1   13.5     class2
2   blue     2   15.3     class1

In [ ]:
# from sklearn.preprocessing import LabelEncoder