In [174]:
import pandas as pd
import numpy as np

df = pd.DataFrame([
['green', 'M', 10.1, 'class1'],
['red', 'L', 13.5, 'class2'],
['blue', 'XL', 15.3, 'class1']])

df.columns = ['color','size','price','classlabel']
df[['color','size','price','classlabel']]

   color size  price classlabel
0  green    M   10.1     class1
1    red    L   13.5     class2
2   blue   XL   15.3     class1

In [164]:
#order fratures mapping
size_mapping = {'M':0,'L':1,'XL':2}
df['size'] = df['size'].map(size_mapping)
df

   color  size  price classlabel
0  green     0   10.1     class1
1    red     1   13.5     class2
2   blue     2   15.3     class1

In [165]:
#類標的編碼
class_mapping = {label:idx for idx,label in enumerate(np.unique(df['classlabel']))}
class_mapping

{'class1': 0, 'class2': 1}

In [166]:
df['classlabel'] = df['classlabel'].map(class_mapping)
df

   color  size  price  classlabel
0  green     0   10.1           0
1    red     1   13.5           1
2   blue     2   15.3           0

In [167]:
inv_class_mapping = {idx:label for label,idx in class_mapping.items()}
df['classlabel'] = df['classlabel'].map(inv_class_mapping)
df

   color  size  price classlabel
0  green     0   10.1     class1
1    red     1   13.5     class2
2   blue     2   15.3     class1

In [168]:
from sklearn.preprocessing import LabelEncoder

Class_le = LabelEncoder()
print df['classlabel'].values
X = Class_le.fit_transform(df['classlabel'].values)
Color_le = LabelEncoder()
#Y = Color_le.fit_transform(df['color'].values)
X

['class1' 'class2' 'class1']

array([0, 1, 0])

In [169]:
#one-hot encoding (create a dummy feature)
from sklearn.preprocessing import OneHotEncoder
X = df[['color','size','price']].values

ohe = OneHotEncoder(categorical_features = [0])
color_le = LabelEncoder()
#print X[0:3,0]
X[0:3,0] = color_le.fit_transform(X[0:3,0])
X
ohe.fit_transform(X).toarray()

array([[  0. ,   1. ,   0. ,   0. ,  10.1],
       [  0. ,   0. ,   1. ,   1. ,  13.5],
       [  1. ,   0. ,   0. ,   2. ,  15.3]])